h3{
    font-family: sans-serif;
   
}
/*header styles*/
header{
    background-color: #e7c7a31a;
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-size: 2.8rem;
    color:black;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1.1rem;
    font-weight: 500;
}
.banner{
    text-align: center;
}
.banner img{
    width: 100%;
}
.banner-title{
font-size: 40px;
}
.button-primery{
    background-color: orange;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-content-title{
    font-size: 45px;
}
.teams-image-container{
display: grid;
grid-template-columns: repeat(2,1fr);
gap:1.5rem;
}
.teams-content{
padding-left: 70px;
padding-right: 70px;
}
/*facts section*/
.facts-card-container .card{
border-radius: 8px;
border:1px solid #ff900e;
text-align: center;
padding: 30px;
}
.facts-card-container{
    display:flex;
    justify-content: space-around;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: black;
    margin-top: 10px; 
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.sponsors{
    text-align: center;
}
.sponsor-image-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
}
.sponsor-image-container img{
    width: 165px;
}
/*feature section*/

.feature-content-img img{
    width: 80%;
    display: flex;
}
.feature{
    display: flex;
    margin-top: 15px;
}
.feature-content{
    flex-direction: column;
}

.footer{
    width:1330px;
    height: 120px;
    text-align: center;
    background-color: #FFF4E7;
    padding-top: 25px;
}

/*responsive media queries*/
@media screen and (max-width:576px){
    header{
        padding:20px;
    }
    nav,
     .teams-container,
     .facts-card-container,
     .sponsor-image-container
    {
        flex-direction: column;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
    }
}